@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1646711784894') format('truetype');
}

.iconfont,[class^="el-icon-ali"],
[class*=" el-icon-ali"] {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.el-icon-alitwin-arrow-left:before {
  content: "\e7f0";
}

.el-icon-alicompany:before {
  content: "\e601";
}

.el-icon-aliarrow-right:before {
  content: "\e692";
}

.el-icon-alibarn:before {
  content: "\e668";
}

.el-icon-alibiz:before {
  content: "\e61a";
}

.el-icon-aliwms:before {
  content: "\e60c";
}

.el-icon-aliwmscomp:before {
  content: "\e628";
}

.el-icon-aliperson:before {
  content: "\e627";
}

.el-icon-aliwheat:before {
  content: "\e7ce";
}

.el-icon-alicar-ruku2:before {
  content: "\e6cc";
}

.el-icon-alirecord:before {
  content: "\e602";
}

.el-icon-alinature:before {
  content: "\e6f3";
}

.el-icon-aliyear:before {
  content: "\e603";
}

.el-icon-aliemail:before {
  content: "\e6fa";
}

.el-icon-alijoggle:before {
  content: "\e634";
}

.el-icon-alitidings:before {
  content: "\e6fb";
}

.el-icon-aliselect-all:before {
  content: "\e623";
}

.el-icon-alidept:before {
  content: "\e629";
}

.el-icon-alireduce:before {
  content: "\e6a2";
}

.el-icon-alienlarge:before {
  content: "\e6a3";
}

.el-icon-alisearch:before {
  content: "\e604";
}

.el-icon-aligunlock:before {
  content: "\e647";
}

.el-icon-aliptz:before {
  content: "\e648";
}

.el-icon-aliarrow-left:before {
  content: "\e690";
}

.el-icon-alisortdrop:before {
  content: "\e60e";
}

.el-icon-aligtemper:before {
  content: "\e67a";
}

.el-icon-alitemper:before {
  content: "\e684";
}

.el-icon-alicwet:before {
  content: "\e688";
}

.el-icon-alityga:before {
  content: "\e6ca";
}

.el-icon-alioiltank:before {
  content: "\e671";
}

.el-icon-alicar-ruku:before {
  content: "\e606";
}

.el-icon-aliwet-unusual:before {
  content: "\e68a";
}

.el-icon-alicar-chuku:before {
  content: "\e68b";
}

.el-icon-alisortrise:before {
  content: "\e68c";
}

.el-icon-aliuser:before {
  content: "\e60f";
}

.el-icon-alidownload:before {
  content: "\e664";
}

.el-icon-alinews:before {
  content: "\e665";
}

.el-icon-aliarrup:before {
  content: "\e66a";
}

.el-icon-aliarrdown:before {
  content: "\e669";
}

.el-icon-alistock-in:before {
  content: "\e62f";
}

.el-icon-alistock-out:before {
  content: "\e68e";
}

.el-icon-aliplatform:before {
  content: "\e608";
}

.el-icon-alicoordinate:before {
  content: "\e68f";
}

.el-icon-alidate:before {
  content: "\e682";
}

.el-icon-aliadd:before {
  content: "\e607";
}

.el-icon-alidelete:before {
  content: "\e670";
}

.el-icon-alisiderfold:before {
  content: "\e67b";
}

.el-icon-alisidershow:before {
  content: "\e661";
}

.el-icon-aligrain:before {
  content: "\e691";
}

.el-icon-aliback:before {
  content: "\e609";
}

.el-icon-aliarrow-up:before {
  content: "\e693";
}

.el-icon-aliarrow-down:before {
  content: "\e694";
}

.el-icon-alirefresh:before {
  content: "\e65b";
}

.el-icon-aliarrow-a-right:before {
  content: "\e695";
}

.el-icon-aliarrow-a-left:before {
  content: "\e696";
}

.el-icon-alilist2:before {
  content: "\e619";
}

.el-icon-alichart:before {
  content: "\e663";
}

.el-icon-alistock:before {
  content: "\e631";
}

.el-icon-aliset:before {
  content: "\e680";
}

.el-icon-alipitchon-down:before {
  content: "\e697";
}

.el-icon-alisure:before {
  content: "\e771";
}

.el-icon-alifullscreen:before {
  content: "\e60a";
}

.el-icon-aliquit-fullscreen:before {
  content: "\e60b";
}

.el-icon-alitime:before {
  content: "\e672";
}

.el-icon-alitwin-arrow-right:before {
  content: "\e638";
}

.el-icon-alicar1:before {
  content: "\e60d";
}

.el-icon-aliwet:before {
  content: "\e62b";
}

.el-icon-alisafe:before {
  content: "\e66b";
}

.el-icon-alilist:before {
  content: "\e610";
}

.el-icon-alimap:before {
  content: "\e666";
}

.el-icon-alimonitor2:before {
  content: "\e630";
}

.el-icon-alimonitor-unusual:before {
  content: "\e69b";
}

.el-icon-aliunusual:before {
  content: "\e611";
}

.el-icon-alicoordinate-unusual:before {
  content: "\e69c";
}

.el-icon-aliuser-head:before {
  content: "\e61d";
}

.el-icon-alihome:before {
  content: "\e683";
}

.el-icon-aliword:before {
  content: "\e61f";
}

.el-icon-alisubmit:before {
  content: "\e614";
}

.el-icon-aliqrcode:before {
  content: "\e7ec";
}

.el-icon-alipswreset:before {
  content: "\e618";
}

.el-icon-alierror:before {
  content: "\e612";
}

.el-icon-aliapprove:before {
  content: "\e652";
}

.el-icon-alilogoff:before {
  content: "\e63a";
}

.el-icon-aliexit:before {
  content: "\e613";
}

.el-icon-alifreeze:before {
  content: "\e615";
}

.el-icon-aliunfreeze:before {
  content: "\e616";
}

.el-icon-alipassword:before {
  content: "\e622";
}

.el-icon-alitrash:before {
  content: "\e645";
}

.el-icon-aliannex2:before {
  content: "\e61b";
}

.el-icon-alimodify:before {
  content: "\e617";
}

.el-icon-aliasearch:before {
  content: "\e6ae";
}

.el-icon-aliscan:before {
  content: "\e6eb";
}

.el-icon-alicomputer:before {
  content: "\e61c";
}

.el-icon-alipdf:before {
  content: "\e7ae";
}

.el-icon-aliprint:before {
  content: "\e757";
}

.el-icon-aliexport2:before {
  content: "\e61e";
}

.el-icon-aliarrleft:before {
  content: "\e667";
}

.el-icon-aliarrright:before {
  content: "\e66c";
}

.el-icon-alipitchon:before {
  content: "\e66e";
}

.el-icon-alippt:before {
  content: "\e679";
}

.el-icon-aliexcel:before {
  content: "\e67c";
}

.el-icon-aliother:before {
  content: "\e67d";
}

.el-icon-alipic:before {
  content: "\e6af";
}

.el-icon-alinote-tit:before {
  content: "\e6b1";
}

.el-icon-alicolumn-tit:before {
  content: "\e6b2";
}

.el-icon-alicompany-tit:before {
  content: "\e6b3";
}

.el-icon-alipeople-tit:before {
  content: "\e6b4";
}

.el-icon-alifile-tit:before {
  content: "\e6b5";
}

.el-icon-aliadd-2:before {
  content: "\e6b6";
}

.el-icon-alihead:before {
  content: "\e6de";
}

.el-icon-aliexport:before {
  content: "\e7b4";
}

.el-icon-aliusername:before {
  content: "\e656";
}

.el-icon-alimanypeople:before {
  content: "\e625";
}

.el-icon-aliactual:before {
  content: "\e6b7";
}

.el-icon-alitask2:before {
  content: "\e6b8";
}

.el-icon-alilog:before {
  content: "\e6b9";
}

.el-icon-alitemp3:before {
  content: "\e621";
}

.el-icon-aligssp:before {
  content: "\e620";
}

.el-icon-aliworkcomp:before {
  content: "\e859";
}

.el-icon-aliequipcomp:before {
  content: "\e626";
}

.el-icon-alicomp:before {
  content: "\e759";
}

.el-icon-alibasics:before {
  content: "\e853";
}

.el-icon-alietemper:before {
  content: "\e675";
}

.el-icon-aliewet:before {
  content: "\e6bb";
}

.el-icon-alidew:before {
  content: "\e6bc";
}

.el-icon-alivideo:before {
  content: "\e7a1";
}

.el-icon-alisafe2:before {
  content: "\e62a";
}

.el-icon-alipreset:before {
  content: "\e783";
}

.el-icon-alishuteye:before {
  content: "\e88b";
}

.el-icon-alieye:before {
  content: "\e62c";
}

.el-icon-alisave:before {
  content: "\e62d";
}

.el-icon-alialert:before {
  content: "\e62e";
}

.el-icon-alimonitor:before {
  content: "\e632";
}

.el-icon-alireport:before {
  content: "\e633";
}

.el-icon-ali3D:before {
  content: "\e6bd";
}

.el-icon-alichapter:before {
  content: "\e6be";
}

.el-icon-alicircle-close:before {
  content: "\e63d";
}

.el-icon-aliapply-doc-receive:before {
  content: "\e74d";
}

.el-icon-aliapply-doc-send:before {
  content: "\e65ee";
}

.el-icon-alicar:before {
  content: "\e687";
}

.el-icon-aliapply-contract:before {
  content: "\e689";
}

.el-icon-aliparty:before {
  content: "\e67e";
}

.el-icon-alioffice:before {
  content: "\e674";
}

.el-icon-alicontract:before {
  content: "\e600";
}

.el-icon-alicollect:before {
  content: "\e624";
}

.el-icon-aliretreat:before {
  content: "\e723";
}

.el-icon-aliurging:before {
  content: "\e639";
}

.el-icon-alisending:before {
  content: "\e659";
}

.el-icon-aliregulatory:before {
  content: "\e63b";
}

.el-icon-aliopen:before {
  content: "\e63c";
}

.el-icon-alireadroam:before {
  content: "\e63f";
}

.el-icon-alipreview:before {
  content: "\e673";
}

.el-icon-alinoregulatory:before {
  content: "\e66f";
}

.el-icon-aliclear:before {
  content: "\e640";
}

.el-icon-alimt-summary:before {
  content: "\e698";
}

.el-icon-alinotices:before {
  content: "\e653";
}

.el-icon-alicancellat:before {
  content: "\e6e7";
}

.el-icon-alioffices:before {
  content: "\e643";
}

.el-icon-aliannex:before {
  content: "\e660";
}

.el-icon-alifiledown:before {
  content: "\e646";
}

.el-icon-aliregister:before {
  content: "\e649";
}

.el-icon-alipublic:before {
  content: "\e637";
}

.el-icon-aliexport1:before {
  content: "\e889";
}

.el-icon-aliparty-build:before {
  content: "\e6bf";
}

.el-icon-alifinancial-manage:before {
  content: "\e65f";
}

.el-icon-alijiandu:before {
  content: "\e789";
}

.el-icon-alidiscipline-inspection:before {
  content: "\e605";
}

.el-icon-alistatistical-analysis:before {
  content: "\e63e";
}

.el-icon-alimy-system:before {
  content: "\e641";
}

.el-icon-alicadre-manage:before {
  content: "\e642";
}

.el-icon-alidata-exchange:before {
  content: "\e644";
}

.el-icon-alireception-manage:before {
  content: "\e791";
}

.el-icon-aliexchange-log:before {
  content: "\e64a";
}

.el-icon-alimeeting:before {
  content: "\e69d";
}

.el-icon-aliinfo-open:before {
  content: "\e821";
}

.el-icon-aliarchives-manage:before {
  content: "\e655";
}

.el-icon-aliresource-share:before {
  content: "\e64d";
}

.el-icon-aliscxd:before {
  content: "\e64b";
}

.el-icon-alixietong4:before {
  content: "\e64c";
}

.el-icon-alixietong3:before {
  content: "\e64e";
}

.el-icon-alixietong1:before {
  content: "\e6c0";
}

.el-icon-alixietong2:before {
  content: "\e767";
}

.el-icon-alibianzu:before {
  content: "\e654";
}

.el-icon-alifiring:before {
  content: "\e6c8";
}

.el-icon-aliending:before {
  content: "\e6c9";
}

.el-icon-aliimplement:before {
  content: "\e685";
}

.el-icon-aliall:before {
  content: "\e686";
}

.el-icon-alifail:before {
  content: "\e64f";
}

.el-icon-aliadopt:before {
  content: "\e662";
}

.el-icon-alihead-default:before {
  content: "\e650";
}

.el-icon-alilaw-regulations:before {
  content: "\e651";
}

.el-icon-aliadmin:before {
  content: "\e657";
}

.el-icon-alifile-folder:before {
  content: "\e658";
}

.el-icon-alidelict:before {
  content: "\e65a";
}

.el-icon-aliselect-2:before {
  content: "\e65c";
}

.el-icon-alichapter2:before {
  content: "\e65d";
}

.el-icon-aliregulatory-object:before {
  content: "\e65e";
}

.el-icon-aliapply-car:before {
  content: "\e66d";
}

.el-icon-aliapply-expenses:before {
  content: "\e676";
}

.el-icon-aliapply-management:before {
  content: "\e677";
}

.el-icon-aliapply-meeting:before {
  content: "\e7f9";
}

.el-icon-alipolicy:before {
  content: "\e736";
}

.el-icon-alienterprise:before {
  content: "\e802";
}

.el-icon-aliuser1:before {
  content: "\e99e";
}

.el-icon-aliversion:before {
  content: "\e67f";
}

.el-icon-aliplus:before {
  content: "\ec06";
}

.el-icon-alicut:before {
  content: "\ec07";
}

.el-icon-alicalesdoc:before {
  content: "\e678";
}

.el-icon-aliprocess:before {
  content: "\e699";
}

.el-icon-alijilu:before {
  content: "\e681";
}

.el-icon-aliproofs:before {
  content: "\e65ef";
}

.el-icon-aligraph:before {
  content: "\e68d";
}

.el-icon-alirandommodule:before {
  content: "\e69a";
}

.el-icon-alisuobject:before {
  content: "\eb19";
}

.el-icon-alialarm:before {
  content: "\e871";
}

.el-icon-alievalu:before {
  content: "\e636";
}

.el-icon-alipubmodule:before {
  content: "\e6a0";
}

.el-icon-alizjzl:before {
  content: "\e6a1";
}

.el-icon-aliwszz:before {
  content: "\e6a4";
}

.el-icon-aliajbl:before {
  content: "\e6a5";
}

.el-icon-aliNew-Tga:before {
  content: "\ea8a";
}

.el-icon-aliexports-thin:before {
  content: "\e8c6";
}

.el-icon-alitodo:before {
  content: "\e6a6";
}

.el-icon-alifile:before {
  content: "\e6a8";
}

.el-icon-aliremind:before {
  content: "\e6a7";
}

.el-icon-alipublicity:before {
  content: "\e6a9";
}

.el-icon-alicheckbase:before {
  content: "\e6aa";
}

.el-icon-alicasesource:before {
  content: "\e6f0";
}

.el-icon-alilawctrl:before {
  content: "\e6ab";
}

.el-icon-alicalesbase:before {
  content: "\e6ac";
}

.el-icon-alilawlinkage:before {
  content: "\e6ad";
}

.el-icon-aliucenter:before {
  content: "\e6f1";
}

.el-icon-aliworkbench:before {
  content: "\e6c3";
}

.el-icon-alicaleslink:before {
  content: "\e6c1";
}

.el-icon-alioa:before {
  content: "\e6c2";
}

.el-icon-alicales:before {
  content: "\e6ba";
}

.el-icon-alitask:before {
  content: "\e6c4";
}

.el-icon-alisys:before {
  content: "\e6c5";
}

.el-icon-alicomplete:before {
  content: "\e69e";
}

.el-icon-aliundo:before {
  content: "\e69f";
}

.el-icon-alifixed:before {
  content: "\e857";
}

.el-icon-alidone:before {
  content: "\e7a5";
}

.el-icon-alinotice:before {
  content: "\e6b0";
}

.el-icon-alienfobject:before {
  content: "\e635";
}

.el-icon-alienfstandard:before {
  content: "\e6c6";
}

.el-icon-alienfsource:before {
  content: "\e930";
}

.el-icon-alisysmessage:before {
  content: "\e6c7";
}

.el-icon-aliannouncement:before {
  content: "\e6cb";
}

.el-icon-alitodotask:before {
  content: "\e6cd";
}

.el-icon-alibacksystem:before {
  content: "\e6ce";
}

.el-icon-alisystem:before {
  content: "\e713";
}

.el-icon-aliunit:before {
  content: "\e65f0";
}

.el-icon-alipunish:before {
  content: "\e6cf";
}

.el-icon-aliobtain:before {
  content: "\e6d0";
}

.el-icon-aliplace:before {
  content: "\e6ff";
}

.el-icon-aliexecute:before {
  content: "\e6d1";
}

.el-icon-alicheckin:before {
  content: "\e6d2";
}

.el-icon-alicasehandle:before {
  content: "\e6d3";
}

.el-icon-alionrecord:before {
  content: "\e75e";
}

.el-icon-aliexamine:before {
  content: "\e6d4";
}

.el-icon-alicasefile:before {
  content: "\e6d5";
}

.el-icon-alifile1:before {
  content: "\e6d6";
}

.el-icon-alicopy:before {
  content: "\e6d7";
}

.el-icon-alidelay:before {
  content: "\e6d8";
}

.el-icon-alidocumentary:before {
  content: "\e6d9";
}

.el-icon-alievaluation:before {
  content: "\e6da";
}

.el-icon-aliassess:before {
  content: "\e71d";
}

.el-icon-alireport-work:before {
  content: "\e6db";
}

.el-icon-alistar:before {
  content: "\e6dc";
}

.el-icon-aliassessplan:before {
  content: "\e6dd";
}

.el-icon-alimyassess:before {
  content: "\e6df";
}

.el-icon-aliassessmanage:before {
  content: "\e6e5";
}

