<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisely.sys.mapper.SysFunctionMapper">

    <resultMap type="com.wisely.sys.entity.SysFunction" id="BaseResultMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="action" column="action" jdbcType="VARCHAR"/>
        <result property="parentId" column="parent_id" jdbcType="INTEGER"/>
        <result property="code" column="code" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="INTEGER"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="imgPath" column="img_path" jdbcType="VARCHAR"/>
        <result property="orderNo" column="order_no" jdbcType="INTEGER"/>
        <result property="projectId" column="project_id" jdbcType="INTEGER"/>
        <result property="isPhone" column="is_phone" jdbcType="INTEGER"/>
        <result property="phoneType" column="phone_type" jdbcType="INTEGER"/>
        <result property="opState" column="op_state" jdbcType="INTEGER"/>
        <result property="createBy" column="create_by" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="VARCHAR"/>
        <result property="updateBy" column="update_by" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="VARCHAR"/>
        <result property="isDeleted" column="is_deleted" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="BaseColumn">
        t.id,
        t.name,
        t.action,
        t.parent_id,
        t.code,
        t.type,
        t.description,
        t.img_path,
        t.order_no,
        t.project_id,
        t.is_phone,
        t.phone_type,
        t.op_state,
        t.create_by,
        t.create_time,
        t.update_by,
        t.update_time,
        t.is_deleted
    </sql>
    
    <!-- 动态字段 -->
    <sql id="DynamicColumn">
        <if test="name != null and name != ''"> 
            name, 
        </if>
        <if test="action != null and action != ''"> 
            action, 
        </if>
        <if test="parentId != null"> 
            parent_id, 
        </if>
        <if test="code != null and code != ''"> 
            code, 
        </if>
        <if test="type != null"> 
            type, 
        </if>
        <if test="description != null and description != ''"> 
            description, 
        </if>
        <if test="imgPath != null and imgPath != ''"> 
            img_path, 
        </if>
        <if test="orderNo != null"> 
            order_no, 
        </if>
        <if test="projectId != null"> 
            project_id, 
        </if>
        <if test="isPhone != null"> 
            is_phone, 
        </if>
        <if test="phoneType != null"> 
            phone_type, 
        </if>
        <if test="opState != null"> 
            op_state, 
        </if>
        <if test="createBy != null"> 
            create_by, 
        </if>
        <if test="createTime != null and createTime != ''"> 
            create_time, 
        </if>
        <if test="updateBy != null"> 
            update_by, 
        </if>
        <if test="updateTime != null and updateTime != ''"> 
            update_time, 
        </if>
        <if test="isDeleted != null"> 
            is_deleted, 
        </if>
    </sql>
    
    <!-- 动态值 -->
    <sql id="DynamicValue">
        <if test="name != null and name != ''">
            #{name},
        </if>
        <if test="action != null and action != ''">
            #{action},
        </if>
        <if test="parentId != null">
            #{parentId},
        </if>
        <if test="code != null and code != ''">
            #{code},
        </if>
        <if test="type != null">
            #{type},
        </if>
        <if test="description != null and description != ''">
            #{description},
        </if>
        <if test="imgPath != null and imgPath != ''">
            #{imgPath},
        </if>
        <if test="orderNo != null">
            #{orderNo},
        </if>
        <if test="projectId != null">
            #{projectId},
        </if>
        <if test="isPhone != null">
            #{isPhone},
        </if>
        <if test="phoneType != null">
            #{phoneType},
        </if>
        <if test="opState != null">
            #{opState},
        </if>
        <if test="createBy != null">
            #{createBy},
        </if>
        <if test="createTime != null and createTime != ''">
            #{createTime},
        </if>
        <if test="updateBy != null">
            #{updateBy},
        </if>
        <if test="updateTime != null and updateTime != ''">
            #{updateTime},
        </if>
        <if test="isDeleted != null">
            #{isDeleted},
        </if>
    </sql>
    
    <!-- 动态赋值 -->
    <sql id="DynamicSet">
        <if test="name != null">
            name = #{name},
        </if>
        <if test="action != null">
            action = #{action},
        </if>
        <if test="parentId != null">
            parent_id = #{parentId},
        </if>
        <if test="code != null">
            code = #{code},
        </if>
        <if test="type != null">
            type = #{type},
        </if>
        <if test="description != null">
            description = #{description},
        </if>
        <if test="imgPath != null">
            img_path = #{imgPath},
        </if>
        <if test="orderNo != null">
            order_no = #{orderNo},
        </if>
        <if test="projectId != null">
            project_id = #{projectId},
        </if>
        <if test="isPhone != null">
            is_phone = #{isPhone},
        </if>
        <if test="phoneType != null">
            phone_type = #{phoneType},
        </if>
        <if test="opState != null">
            op_state = #{opState},
        </if>
        <if test="createBy != null">
            create_by = #{createBy},
        </if>
        <if test="createTime != null">
            create_time = #{createTime},
        </if>
        <if test="updateBy != null">
            update_by = #{updateBy},
        </if>
        <if test="updateTime != null">
            update_time = #{updateTime},
        </if>
        <if test="isDeleted != null">
            is_deleted = #{isDeleted},
        </if>
    </sql>
    
    <!-- 动态条件 -->
    <sql id="DynamicWhere">
        <if test="name != null and name != ''">
            and t.name = #{name}
        </if>
        <if test="action != null and action != ''">
            and t.action = #{action}
        </if>
        <if test="parentId != null">
            and t.parent_id = #{parentId}
        </if>
        <if test="code != null and code != ''">
            and t.code = #{code}
        </if>
        <if test="type != null">
            and t.type = #{type}
        </if>
        <if test="description != null and description != ''">
            and t.description = #{description}
        </if>
        <if test="imgPath != null and imgPath != ''">
            and t.img_path = #{imgPath}
        </if>
        <if test="orderNo != null">
            and t.order_no = #{orderNo}
        </if>
        <if test="projectId != null">
            and t.project_id = #{projectId}
        </if>
        <if test="isPhone != null">
            and t.is_phone = #{isPhone}
        </if>
        <if test="phoneType != null">
            and t.phone_type = #{phoneType}
        </if>
        <if test="opState != null">
            and t.op_state = #{opState}
        </if>
        <if test="createBy != null">
            and t.create_by = #{createBy}
        </if>
        <if test="createTime != null and createTime != ''">
            and t.create_time = #{createTime}
        </if>
        <if test="updateBy != null">
            and t.update_by = #{updateBy}
        </if>
        <if test="updateTime != null and updateTime != ''">
            and t.update_time = #{updateTime}
        </if>
        <if test="isDeleted != null">
            and t.is_deleted = #{isDeleted}
        </if>

        <!--名称模糊查询-->
        <if test="nameQueryLike != null">
            and t.name like concat('%',#{nameQueryLike},'%')
        </if>
        <if test="idQueryIn != null and idQueryIn !=''">
            and t.id in
            <foreach collection="idQueryIn.split(',')" item="iq" open="(" close=")" separator=",">
                #{iq}
            </foreach>
        </if>
    </sql>

    <!--查询单个-->
    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        select <include refid="BaseColumn" />
        from t_sys_function t
        where id = #{id}
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true" parameterType="com.wisely.sys.entity.SysFunction">
        insert into t_sys_function (
            name,
            action,
            parent_id,
            code,
            type,
            description,
            img_path,
            order_no,
            project_id,
            is_phone,
            phone_type,
            op_state,
            create_by,
            create_time,
            update_by,
            update_time,
            is_deleted
        ) values (
            #{name},            
            #{action},            
            #{parentId},            
            #{code},            
            #{type},            
            #{description},            
            #{imgPath},            
            #{orderNo},            
            #{projectId},            
            #{isPhone},            
            #{phoneType},            
            #{opState},            
            #{createBy},            
            #{createTime},            
            #{updateBy},            
            #{updateTime},            
            #{isDeleted}            
        )
    </insert>
    
    <insert id="insertSelective" keyProperty="id" useGeneratedKeys="true" parameterType="com.wisely.sys.entity.SysFunction">
        insert into t_sys_function
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <include refid="DynamicColumn" />
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <include refid="DynamicValue" />
        </trim>
    </insert>

    <!--通过主键修改数据-->
    <update id="updateByPrimaryKey" parameterType="com.wisely.sys.entity.SysFunction">
        update t_sys_function
        <set>
            name = #{name},
            action = #{action},
            parent_id = #{parentId},
            code = #{code},
            type = #{type},
            description = #{description},
            img_path = #{imgPath},
            order_no = #{orderNo},
            project_id = #{projectId},
            is_phone = #{isPhone},
            phone_type = #{phoneType},
            op_state = #{opState},
            create_by = #{createBy},
            create_time = #{createTime},
            update_by = #{updateBy},
            update_time = #{updateTime},
            is_deleted = #{isDeleted},
        </set>
        where id = #{id}
    </update>
    
    <!-- 通过主键动态修改数据 -->
    <update id="updateByPrimaryKeySelective" parameterType="com.wisely.sys.entity.SysFunction">
        update t_sys_function
        <trim prefix="set" suffixOverrides="," >
            <include refid="DynamicSet" />
        </trim>
        where id = #{id}
    </update>
    
    
    <!-- 根据条件动态修改数据 -->
    <update id="updateBySelective" parameterType="com.wisely.sys.entity.SysFunction">
        update t_sys_function T
        <trim prefix="set" suffixOverrides="," >
            <include refid="DynamicSet" />
        </trim>
        <trim prefix="where" prefixOverrides="AND | OR" >
            <choose>
                <!-- 为避免全表更新，至少有一个查询条件 -->
                <otherwise>
                   and id = #{id}
                </otherwise>
            </choose>
        </trim>
    </update>
    

    <!--通过主键删除-->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from t_sys_function
        where id = #{id}
    </delete>
    
    
    <!--通过实体作为筛选条件查询-->
    <select id="selectListBySelective" parameterType="com.wisely.sys.entity.SysFunction" resultMap="BaseResultMap">
        select <include refid="BaseColumn" />
        from t_sys_function t
        <trim prefix="where " prefixOverrides="AND | OR" >
            <include refid="DynamicWhere" />
        </trim>
        <choose>
            <when test="orderBy != null and orderBy != ''">
                order by ${orderBy}
            </when>
            <otherwise>
                order by t.order_no, t.id
            </otherwise>
        </choose>
    </select>

</mapper>

