<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisely.sys.mapper.SysFileMapper">

    <resultMap type="com.wisely.sys.entity.SysFile" id="BaseResultMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="orgId" column="org_id" jdbcType="INTEGER"/>
        <result property="orgName" column="org_name" jdbcType="VARCHAR"/>
        <result property="uploadTime" column="upload_time" jdbcType="VARCHAR"/>
        <result property="attachSize" column="attach_size" jdbcType="INTEGER"/>
        <result property="sourceType" column="source_type" jdbcType="VARCHAR"/>
        <result property="subType" column="sub_type" jdbcType="VARCHAR"/>
        <result property="sourceId" column="source_id" jdbcType="VARCHAR"/>
        <result property="filename" column="filename" jdbcType="VARCHAR"/>
        <result property="realPath" column="real_path" jdbcType="VARCHAR"/>
        <result property="extension" column="extension" jdbcType="VARCHAR"/>
        <result property="opState" column="op_state" jdbcType="INTEGER"/>
        <result property="createBy" column="create_by" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="VARCHAR"/>
        <result property="updateBy" column="update_by" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="VARCHAR"/>
        <result property="isDeleted" column="is_deleted" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="BaseColumn">
        t.id,
        t.org_id,
        t.org_name,
        t.upload_time,
        t.attach_size,
        t.source_type,
        t.sub_type,
        t.source_id,
        t.filename,
        t.real_path,
        t.extension,
        t.op_state,
        t.create_by,
        t.create_time,
        t.update_by,
        t.update_time,
        t.is_deleted
    </sql>
    
    <!-- 动态字段 -->
    <sql id="DynamicColumn">
        <if test="orgId != null"> 
            org_id, 
        </if>
        <if test="orgName != null and orgName != ''"> 
            org_name, 
        </if>
        <if test="uploadTime != null and uploadTime != ''"> 
            upload_time, 
        </if>
        <if test="attachSize != null"> 
            attach_size, 
        </if>
        <if test="sourceType != null and sourceType != ''"> 
            source_type, 
        </if>
        <if test="subType != null and subType != ''"> 
            sub_type, 
        </if>
        <if test="sourceId != null and sourceId != ''">
            source_id, 
        </if>
        <if test="filename != null and filename != ''"> 
            filename, 
        </if>
        <if test="realPath != null and realPath != ''">
            real_path, 
        </if>
        <if test="extension != null and extension != ''"> 
            extension, 
        </if>
        <if test="opState != null"> 
            op_state, 
        </if>
        <if test="createBy != null"> 
            create_by, 
        </if>
        <if test="createTime != null and createTime != ''"> 
            create_time, 
        </if>
        <if test="updateBy != null"> 
            update_by, 
        </if>
        <if test="updateTime != null and updateTime != ''"> 
            update_time, 
        </if>
        <if test="isDeleted != null"> 
            is_deleted, 
        </if>
    </sql>
    
    <!-- 动态值 -->
    <sql id="DynamicValue">
        <if test="orgId != null">
            #{orgId},
        </if>
        <if test="orgName != null and orgName != ''">
            #{orgName},
        </if>
        <if test="uploadTime != null and uploadTime != ''">
            #{uploadTime},
        </if>
        <if test="attachSize != null">
            #{attachSize},
        </if>
        <if test="sourceType != null and sourceType != ''">
            #{sourceType},
        </if>
        <if test="subType != null and subType != ''">
            #{subType},
        </if>
        <if test="sourceId != null and sourceId != ''">
            #{sourceId},
        </if>
        <if test="filename != null and filename != ''">
            #{filename},
        </if>
        <if test="realPath != null and realPath != ''">
            #{realPath},
        </if>
        <if test="extension != null and extension != ''">
            #{extension},
        </if>
        <if test="opState != null">
            #{opState},
        </if>
        <if test="createBy != null">
            #{createBy},
        </if>
        <if test="createTime != null and createTime != ''">
            #{createTime},
        </if>
        <if test="updateBy != null">
            #{updateBy},
        </if>
        <if test="updateTime != null and updateTime != ''">
            #{updateTime},
        </if>
        <if test="isDeleted != null">
            #{isDeleted},
        </if>
    </sql>
    
    <!-- 动态赋值 -->
    <sql id="DynamicSet">
        <if test="orgId != null">
            org_id = #{orgId},
        </if>
        <if test="orgName != null">
            org_name = #{orgName},
        </if>
        <if test="uploadTime != null">
            upload_time = #{uploadTime},
        </if>
        <if test="attachSize != null">
            attach_size = #{attachSize},
        </if>
        <if test="sourceType != null">
            source_type = #{sourceType},
        </if>
        <if test="subType != null">
            sub_type = #{subType},
        </if>
        <if test="sourceId != null and sourceId != ''">
            source_id = #{sourceId},
        </if>
        <if test="filename != null">
            filename = #{filename},
        </if>
        <if test="realPath != null">
            real_path = #{realPath},
        </if>
        <if test="extension != null">
            extension = #{extension},
        </if>
        <if test="opState != null">
            op_state = #{opState},
        </if>
        <if test="createBy != null">
            create_by = #{createBy},
        </if>
        <if test="createTime != null">
            create_time = #{createTime},
        </if>
        <if test="updateBy != null">
            update_by = #{updateBy},
        </if>
        <if test="updateTime != null">
            update_time = #{updateTime},
        </if>
        <if test="isDeleted != null">
            is_deleted = #{isDeleted},
        </if>
    </sql>
    
    <!-- 动态条件 -->
    <sql id="DynamicWhere">
        <if test="orgId != null">
            and t.org_id = #{orgId}
        </if>
        <if test="orgName != null and orgName != ''">
            and t.org_name = #{orgName}
        </if>
        <if test="uploadTime != null and uploadTime != ''">
            and t.upload_time = #{uploadTime}
        </if>
        <if test="attachSize != null">
            and t.attach_size = #{attachSize}
        </if>
        <if test="sourceType != null and sourceType != ''">
            and t.source_type = #{sourceType}
        </if>
        <if test="subType != null and subType != ''">
            and t.sub_type = #{subType}
        </if>
        <if test="sourceId != null and sourceId != ''">
            and t.source_id = #{sourceId}
        </if>
        <if test="filename != null and filename != ''">
            and t.filename = #{filename}
        </if>
        <if test="realPath != null and realPath != ''">
            and t.real_path = #{realPath}
        </if>
        <if test="extension != null and extension != ''">
            and t.extension = #{extension}
        </if>
        <if test="opState != null">
            and t.op_state = #{opState}
        </if>
        <if test="createBy != null">
            and t.create_by = #{createBy}
        </if>
        <if test="createTime != null and createTime != ''">
            and t.create_time = #{createTime}
        </if>
        <if test="updateBy != null">
            and t.update_by = #{updateBy}
        </if>
        <if test="updateTime != null and updateTime != ''">
            and t.update_time = #{updateTime}
        </if>
        <if test="isDeleted != null">
            and t.is_deleted = #{isDeleted}
        </if>

        <if test="sourceIdQueryIn != null and sourceIdQueryIn != ''">
            and t.source_id in
            <foreach collection="sourceIdQueryIn.split(',')" separator="," open="(" close=")" item="sId" index="">
                #{sId}
            </foreach>
        </if>
    </sql>

    <!--查询单个-->
    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        select <include refid="BaseColumn" />
        from t_sys_file t
        where id = #{id}
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true" parameterType="com.wisely.sys.entity.SysFile">
        insert into t_sys_file (
            org_id,
            org_name,
            upload_time,
            attach_size,
            source_type,
            sub_type,
            source_id,
            filename,
            path,
            real_path,
            extension,
            op_state,
            create_by,
            create_time,
            update_by,
            update_time,
            is_deleted
        ) values (
            #{orgId},            
            #{orgName},            
            #{uploadTime},            
            #{attachSize},            
            #{sourceType},            
            #{subType},            
            #{sourceId},            
            #{filename},            
            #{path},            
            #{realPath},            
            #{extension},            
            #{opState},            
            #{createBy},            
            #{createTime},            
            #{updateBy},            
            #{updateTime},            
            #{isDeleted}            
        )
    </insert>
    
    <insert id="insertSelective" keyProperty="id" useGeneratedKeys="true" parameterType="com.wisely.sys.entity.SysFile">
        insert into t_sys_file
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <include refid="DynamicColumn" />
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <include refid="DynamicValue" />
        </trim>
    </insert>

    <!--通过主键修改数据-->
    <update id="updateByPrimaryKey" parameterType="com.wisely.sys.entity.SysFile">
        update t_sys_file
        <set>
            org_id = #{orgId},
            org_name = #{orgName},
            upload_time = #{uploadTime},
            attach_size = #{attachSize},
            source_type = #{sourceType},
            sub_type = #{subType},
            source_id = #{sourceId},
            filename = #{filename},
            real_path = #{realPath},
            extension = #{extension},
            op_state = #{opState},
            create_by = #{createBy},
            create_time = #{createTime},
            update_by = #{updateBy},
            update_time = #{updateTime},
            is_deleted = #{isDeleted},
        </set>
        where id = #{id}
    </update>
    
    <!-- 通过主键动态修改数据 -->
    <update id="updateByPrimaryKeySelective" parameterType="com.wisely.sys.entity.SysFile">
        update t_sys_file
        <trim prefix="set" suffixOverrides="," >
            <include refid="DynamicSet" />
        </trim>
        where id = #{id}
    </update>
    
    
    <!-- 根据条件动态修改数据 -->
    <update id="updateBySelective" parameterType="com.wisely.sys.entity.SysFile">
        update t_sys_file T
        <trim prefix="set" suffixOverrides="," >
            <include refid="DynamicSet" />
        </trim>
        <trim prefix="where" prefixOverrides="AND | OR" >
            <choose>
                <!-- 为避免全表更新，至少有一个查询条件 -->
                <otherwise>
                   and id = #{id}
                </otherwise>
            </choose>
        </trim>
    </update>
    

    <!--通过主键删除-->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from t_sys_file
        where id = #{id}
    </delete>
    
    
    <!--通过实体作为筛选条件查询-->
    <select id="selectListBySelective" parameterType="com.wisely.sys.entity.SysFile" resultMap="BaseResultMap">
        select <include refid="BaseColumn" />
        from t_sys_file t
        <trim prefix="where " prefixOverrides="AND | OR" >
            <include refid="DynamicWhere" />
        </trim>
        <choose>
            <when test="orderBy != null and orderBy != ''">
                order by ${orderBy}
            </when>
            <otherwise>
                order by t.id
            </otherwise>
        </choose>
    </select>

    <delete id="deleteBySelective" parameterType="com.wisely.sys.entity.SysFile">
        delete t from t_sys_file t
        <trim prefix="where" prefixOverrides="AND | OR">
            <choose>
                <when test="sourceType != null and sourceType != '' and sourceIdQueryIn != null and sourceIdQueryIn != ''">
                    and t.source_type = #{sourceType}
                    and t.source_id in
                    <foreach collection="sourceIdQueryIn.split(',')" separator="," open="(" close=")" item="sId" index="">
                        #{sId}
                    </foreach>
                </when>
                <!-- 为避免全表更新，至少有一个查询条件 -->
                <otherwise>
                    and t.id = #{id}
                </otherwise>
            </choose>
            <if test="subType != null and subType != ''">
                and t.sub_type = #{subType}
            </if>
        </trim>
    </delete>

</mapper>

