<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisely.sys.mapper.SysOperateLogMapper">

    <resultMap type="com.wisely.sys.entity.SysOperateLog" id="BaseResultMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="ip" column="ip" jdbcType="VARCHAR"/>
        <result property="machineName" column="machine_name" jdbcType="VARCHAR"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="opTime" column="op_time" jdbcType="VARCHAR"/>
        <result property="requestMsg" column="request_msg" jdbcType="VARCHAR"/>
        <result property="responseMsg" column="response_msg" jdbcType="VARCHAR"/>
        <result property="opState" column="op_state" jdbcType="INTEGER"/>
        <result property="createBy" column="create_by" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="VARCHAR"/>
        <result property="updateBy" column="update_by" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="VARCHAR"/>
        <result property="isDeleted" column="is_deleted" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="BaseColumn">
        t.id,        
        t.name,        
        t.ip,        
        t.machine_name,        
        t.user_id,        
        t.op_time,        
        t.request_msg,        
        t.response_msg,        
        t.op_state,        
        t.create_by,        
        t.create_time,        
        t.update_by,        
        t.update_time,        
        t.is_deleted        
    </sql>
    
    <!-- 动态字段 -->
    <sql id="DynamicColumn">
        <if test="name != null and name != ''"> 
            name, 
        </if>
        <if test="ip != null and ip != ''"> 
            ip, 
        </if>
        <if test="machineName != null and machineName != ''"> 
            machine_name, 
        </if>
        <if test="userId != null"> 
            user_id, 
        </if>
        <if test="opTime != null and opTime != ''"> 
            op_time, 
        </if>
        <if test="requestMsg != null and requestMsg != ''"> 
            request_msg, 
        </if>
        <if test="responseMsg != null and responseMsg != ''"> 
            response_msg, 
        </if>
        <if test="opState != null"> 
            op_state, 
        </if>
        <if test="createBy != null"> 
            create_by, 
        </if>
        <if test="createTime != null and createTime != ''"> 
            create_time, 
        </if>
        <if test="updateBy != null"> 
            update_by, 
        </if>
        <if test="updateTime != null and updateTime != ''"> 
            update_time, 
        </if>
        <if test="isDeleted != null"> 
            is_deleted, 
        </if>
    </sql>
    
    <!-- 动态值 -->
    <sql id="DynamicValue">
        <if test="name != null and name != ''">
            #{name},
        </if>
        <if test="ip != null and ip != ''">
            #{ip},
        </if>
        <if test="machineName != null and machineName != ''">
            #{machineName},
        </if>
        <if test="userId != null">
            #{userId},
        </if>
        <if test="opTime != null and opTime != ''">
            #{opTime},
        </if>
        <if test="requestMsg != null and requestMsg != ''">
            #{requestMsg},
        </if>
        <if test="responseMsg != null and responseMsg != ''">
            #{responseMsg},
        </if>
        <if test="opState != null">
            #{opState},
        </if>
        <if test="createBy != null">
            #{createBy},
        </if>
        <if test="createTime != null and createTime != ''">
            #{createTime},
        </if>
        <if test="updateBy != null">
            #{updateBy},
        </if>
        <if test="updateTime != null and updateTime != ''">
            #{updateTime},
        </if>
        <if test="isDeleted != null">
            #{isDeleted},
        </if>
    </sql>
    
    <!-- 动态赋值 -->
    <sql id="DynamicSet">
        <if test="name != null">
            name = #{name},
        </if>
        <if test="ip != null">
            ip = #{ip},
        </if>
        <if test="machineName != null">
            machine_name = #{machineName},
        </if>
        <if test="userId != null">
            user_id = #{userId},
        </if>
        <if test="opTime != null">
            op_time = #{opTime},
        </if>
        <if test="requestMsg != null">
            request_msg = #{requestMsg},
        </if>
        <if test="responseMsg != null">
            response_msg = #{responseMsg},
        </if>
        <if test="opState != null">
            op_state = #{opState},
        </if>
        <if test="createBy != null">
            create_by = #{createBy},
        </if>
        <if test="createTime != null">
            create_time = #{createTime},
        </if>
        <if test="updateBy != null">
            update_by = #{updateBy},
        </if>
        <if test="updateTime != null">
            update_time = #{updateTime},
        </if>
        <if test="isDeleted != null">
            is_deleted = #{isDeleted},
        </if>
    </sql>
    
    <!-- 动态条件 -->
    <sql id="DynamicWhere">
        <if test="name != null and name != ''">
            and t.name = #{name}
        </if>
        <if test="ip != null and ip != ''">
            and t.ip = #{ip}
        </if>
        <if test="machineName != null and machineName != ''">
            and t.machine_name = #{machineName}
        </if>
        <if test="userId != null">
            and t.user_id = #{userId}
        </if>
        <if test="opTime != null and opTime != ''">
            and t.op_time = #{opTime}
        </if>
        <if test="requestMsg != null and requestMsg != ''">
            and t.request_msg = #{requestMsg}
        </if>
        <if test="responseMsg != null and responseMsg != ''">
            and t.response_msg = #{responseMsg}
        </if>
        <if test="opState != null">
            and t.op_state = #{opState}
        </if>
        <if test="createBy != null">
            and t.create_by = #{createBy}
        </if>
        <if test="createTime != null and createTime != ''">
            and t.create_time = #{createTime}
        </if>
        <if test="updateBy != null">
            and t.update_by = #{updateBy}
        </if>
        <if test="updateTime != null and updateTime != ''">
            and t.update_time = #{updateTime}
        </if>
        <if test="isDeleted != null">
            and t.is_deleted = #{isDeleted}
        </if>

        <if test="accountQueryLike != null and accountQueryLike != ''">
            and t.account like concat('%', #{accountQueryLike}, '%')
        </if>
        <if test="timeQueryLe != null and timeQueryLe != ''">
            and t.op_time <![CDATA[<=]]> concat(#{timeQueryLe}, ' 23:59:00')
        </if>
        <if test="timeQueryGe != null and timeQueryGe != ''">
            and t.op_time >= concat(#{timeQueryGe}, ' 00:00:00')
        </if>
    </sql>

    <!--查询单个-->
    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        select <include refid="BaseColumn" />
        from  t_sys_operate_log t
        where id = #{id}
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true" parameterType="com.wisely.sys.entity.SysOperateLog">
        insert into t_sys_operate_log  (
name,            
ip,            
machine_name,            
user_id,            
op_time,            
request_msg,            
response_msg,            
op_state,            
create_by,            
create_time,            
update_by,            
update_time,            
is_deleted            
)  values  (
            #{name},            
            #{ip},            
            #{machineName},            
            #{userId},            
            #{opTime},            
            #{requestMsg},            
            #{responseMsg},            
            #{opState},            
            #{createBy},            
            #{createTime},            
            #{updateBy},            
            #{updateTime},            
            #{isDeleted}            

        )
    </insert>
    
    <insert id="insertSelective" keyProperty="id" useGeneratedKeys="true" parameterType="com.wisely.sys.entity.SysOperateLog">
        insert into  t_sys_operate_log        
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <include refid="DynamicColumn" />
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <include refid="DynamicValue" />
        </trim>
    </insert>

    <!--通过主键修改数据-->
    <update id="updateByPrimaryKey" parameterType="com.wisely.sys.entity.SysOperateLog">
        update t_sys_operate_log        
        <set>
            name = #{name},
            ip = #{ip},
            machine_name = #{machineName},
            user_id = #{userId},
            op_time = #{opTime},
            request_msg = #{requestMsg},
            response_msg = #{responseMsg},
            op_state = #{opState},
            create_by = #{createBy},
            create_time = #{createTime},
            update_by = #{updateBy},
            update_time = #{updateTime},
            is_deleted = #{isDeleted},
        </set>
        where  id = #{id}
    </update>
    
    <!-- 通过主键动态修改数据 -->
    <update id="updateByPrimaryKeySelective" parameterType="com.wisely.sys.entity.SysOperateLog">
        update t_sys_operate_log        
        <trim prefix="set" suffixOverrides="," >
            <include refid="DynamicSet" />
        </trim>
        where id = #{id}
    </update>
    
    
    <!-- 根据条件动态修改数据 -->
    <update id="updateBySelective" parameterType="com.wisely.sys.entity.SysOperateLog">
        update t_sys_operate_log t
        <trim prefix="set" suffixOverrides="," >
            <include refid="DynamicSet" />
        </trim>
        <trim prefix="where" prefixOverrides="AND | OR" >
            <choose>
                <!-- 为避免全表更新，至少有一个查询条件 -->
                <otherwise>
                   and id = #{id}
                </otherwise>
            </choose>
        </trim>
    </update>
    

    <!--通过主键删除-->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from  t_sys_operate_log        
        where id = #{id}
    </delete>
    
    
    <!--通过实体作为筛选条件查询-->
    <select id="selectListBySelective" parameterType="com.wisely.sys.entity.SysOperateLog" resultMap="BaseResultMap">
        select <include refid="BaseColumn" />
        from  t_sys_operate_log t
        <trim prefix="where " prefixOverrides="AND | OR" >
            <include refid="DynamicWhere" />
        </trim>
        <choose>
            <when test="orderBy != null and orderBy != ''">
                order by ${orderBy}
            </when>
            <otherwise>
                order by t.id desc
            </otherwise>
        </choose>
    </select>

</mapper>

