@import "./mixin.scss";
.dv-address {
  height: 30px;
    .dv-input {
      width: 100%;
      border-radius: 4px;
      color: #333;
      font-size: 12px;
      min-height: 30Px;/*no*/
      height: 30px;
      line-height: 30px;
      padding: 0 30px 0 10px;
      min-width: 200Px;/*no*/
      overflow: hidden;
      text-overflow:ellipsis;
      border: 1px solid #DCDFE6;
      box-sizing: border-box;
      position: relative;
      white-space: nowrap;
      i{
        position: absolute;
        top: 0px;
        right:4px;
        height: 30px;
        line-height: 30px;
        font-size: 14px;
        color: #ccc;
        transform: rotate(180deg);
      }
    }
    .no-selected{
      color: #ccc;
    }
  }
  .address-box {
    width: 570px;
    font-size: 12px;
    position: relative;
    /deep/.el-tabs__header{
      padding: 0;
    }
    /deep/ .el-tabs__item {
      font-size: 12px !important;
      padding: 0 15px !important;
      height: 33px;
      line-height: 33px;
    }
    .el-col {
      padding: 6px!important;
      height: 34px;
      cursor: pointer;
      color: #333;
    }
    .el-col:hover {
      color: #409EFF;
    }
    .el-col-active {
      color: #409EFF !important;
      font-weight: 700;
      .el-dropdown-menu__item {
        color: #409EFF !important;
      }
    }
    .el-dropdown-menu__item {
      line-height: inherit;
      padding: 0;
      color: #333;
      font-size: 12px;
    }
    .el-dropdown-menu__item:hover {
      color: #409EFF;
      background: none !important;
    }
    .dv-clear {
      right: 0;
      top: 1px;
      z-index: 9;
      padding: 0 15px;
      position: absolute;
      background: none;
      color: #909399;
      height: 33px;
      line-height: 33px;
    }
  }
  .address-container {
    padding: 0 !important;
    border: none !important;
    /deep/.el-tabs__content{
      height: 256px;
      overflow: auto;
    }
  }