@import "./mixin.scss";

.modify-password {
  @include flexBox;
  .el-dialog {
    width: 450px;
    display: flex;
    flex-direction: column;
    margin: 0 !important;
  }
  .el-dialog__body{
    position: relative;
    height: 200px;
  }
  .rule-form{
    padding-top: 30px;
  }
  .tippwd-text {
    position: absolute;
    top: 14px;
    left: 160px;
    display: flex;
    align-items: center;
    color: #ff3e3c;
  
    i {
      margin-right: 5px;
      font-size:20px
    }
  }
  
}
