@import "./mixin.scss";
.check-collapse{
    /deep/.el-collapse-item__header{
        height: 34px;
    }
}
.table-add-wrap {
    // padding: 5px 0 15px;
    text-align: center;
    h2 {
        padding-bottom: 15px;
        text-align: center;
    }
    /deep/.el-table {
        th,
        td {
            padding:6px 0;
        }
        th{
            color: $cGray3;
            font-weight: normal;
            background: $cGrayf4;
            border-bottom: 1px solid #d9e2eb;
            .cell{
                line-height: 1.2;
            }
        }
        .row-title td{
            padding:0;
            .cell{
                height: 34px;
                line-height: 34px;
            }
        }
    }
    /deep/.el-select{
        width: 100%;
    }
    .operat-link{
        cursor: pointer;
        i {
            color: $cBlue;
        }
    }
    .select-person._multiple{
        width: 100%;
        min-width: auto;
    }
    .el-input{
        width: 100%;
        margin-top: 2px;
        &:first-child{
            margin-top: 0;
        }
    }
    .el-range-editor{
        width: 100%;
    }
    /deep/.el-table__row {
        &.expanded{
            font-weight: 700;
        }
        .upfile-item {
            min-width: auto;
        }
    }
    /deep/.flex-box .el-button{
        padding: 0 10px;
    }
    .operat-icon-link{
        span{
            display: inline-block;
            padding: 5px 10px;
            cursor: pointer;
        }
        .edit{
            color: $cBlue;
        }
        .delete{
            color: $cTangerine;
            background: transparent;
            border: 0 none;
        }
    }
    /deep/.el-select__tags {
        .el-tag.el-tag--info{
            max-width: 90%;
        }
        .el-select__tags-text {
            display: inline-block;
            max-width: 80%;
            height: 100%;
            vertical-align: top;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .el-tag__close.el-icon-close {
            right: -4px;
        }
    }
    .c-red{
        color: $cRed;
    }
    .c-green{
        color: $cGreen;
    }
    .operate-icon{
        cursor: pointer;
        color: $cBlue;
    }
    /deep/.el-table__header{
        background: $cGrayf4;
        th{
            color: $cGray3;
            background: $cGrayf4;
            font-weight: normal;
        }
    }
    .setIcon {
        color:$cBlue;
        font-weight: bold;
        cursor: pointer;
        font-size: 18px;
        &:last-child{
            margin-left: 5px;
        }
    }
    /deep/.el-radio__label{
        padding-left: 5px;
    }
    /deep/.el-radio{
        margin-right: 15px;
    }
    /deep/input::-webkit-outer-spin-button, /deep/input::-webkit-inner-spin-button { -webkit-appearance: none; }

    /deep/input[type="number"]{ -moz-appearance: textfield; }
}