<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisely.ucenter.mapper.UcenterPersonRoleMapper">

    <resultMap type="com.wisely.ucenter.entity.UcenterPersonRole" id="BaseResultMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="personId" column="person_id" jdbcType="INTEGER"/>
        <result property="roleId" column="role_id" jdbcType="INTEGER"/>
        <result property="opState" column="op_state" jdbcType="INTEGER"/>
        <result property="createBy" column="create_by" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="VARCHAR"/>
        <result property="updateBy" column="update_by" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="VARCHAR"/>
        <result property="isDeleted" column="is_deleted" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="BaseColumn">
        t.id,
        t.person_id,
        t.role_id,
        t.op_state,
        t.create_by,
        t.create_time,
        t.update_by,
        t.update_time,
        t.is_deleted
    </sql>

    <!-- 动态字段 -->
    <sql id="DynamicColumn">
        <if test="personId != null">
            person_id,
        </if>
        <if test="roleId != null">
            role_id,
        </if>
        <if test="opState != null">
            op_state,
        </if>
        <if test="createBy != null">
            create_by,
        </if>
        <if test="createTime != null and createTime != ''">
            create_time,
        </if>
        <if test="updateBy != null">
            update_by,
        </if>
        <if test="updateTime != null and updateTime != ''">
            update_time,
        </if>
        <if test="isDeleted != null">
            is_deleted,
        </if>
    </sql>

    <!-- 动态值 -->
    <sql id="DynamicValue">
        <if test="personId != null">
            #{personId},
        </if>
        <if test="roleId != null">
            #{roleId},
        </if>
        <if test="opState != null">
            #{opState},
        </if>
        <if test="createBy != null">
            #{createBy},
        </if>
        <if test="createTime != null and createTime != ''">
            #{createTime},
        </if>
        <if test="updateBy != null">
            #{updateBy},
        </if>
        <if test="updateTime != null and updateTime != ''">
            #{updateTime},
        </if>
        <if test="isDeleted != null">
            #{isDeleted},
        </if>
    </sql>

    <!-- 动态赋值 -->
    <sql id="DynamicSet">
        <if test="personId != null">
            person_id = #{personId},
        </if>
        <if test="roleId != null">
            role_id = #{roleId},
        </if>
        <if test="opState != null">
            op_state = #{opState},
        </if>
        <if test="createBy != null">
            create_by = #{createBy},
        </if>
        <if test="createTime != null">
            create_time = #{createTime},
        </if>
        <if test="updateBy != null">
            update_by = #{updateBy},
        </if>
        <if test="updateTime != null">
            update_time = #{updateTime},
        </if>
        <if test="isDeleted != null">
            is_deleted = #{isDeleted},
        </if>
    </sql>

    <!-- 动态条件 -->
    <sql id="DynamicWhere">
        <if test="personId != null">
            and t.person_id = #{personId}
        </if>
        <if test="roleId != null">
            and t.role_id = #{roleId}
        </if>
        <if test="opState != null">
            and t.op_state = #{opState}
        </if>
        <if test="createBy != null">
            and t.create_by = #{createBy}
        </if>
        <if test="createTime != null and createTime != ''">
            and t.create_time = #{createTime}
        </if>
        <if test="updateBy != null">
            and t.update_by = #{updateBy}
        </if>
        <if test="updateTime != null and updateTime != ''">
            and t.update_time = #{updateTime}
        </if>
        <if test="isDeleted != null">
            and t.is_deleted = #{isDeleted}
        </if>
    </sql>

    <!--查询单个-->
    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        select <include refid="BaseColumn" />
        from  t_ucenter_person_role t
        where id = #{id}
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true" parameterType="com.wisely.ucenter.entity.UcenterPersonRole">
        insert into t_ucenter_person_role  (
            person_id,
            role_id,
            op_state,
            create_by,
            create_time,
            update_by,
            update_time,
            is_deleted
        )  values  (
            #{personId},
            #{roleId},
            #{opState},
            #{createBy},
            #{createTime},
            #{updateBy},
            #{updateTime},
            #{isDeleted}
        )
    </insert>

    <insert id="insertSelective" keyProperty="id" useGeneratedKeys="true" parameterType="com.wisely.ucenter.entity.UcenterPersonRole">
        insert into  t_ucenter_person_role
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <include refid="DynamicColumn" />
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <include refid="DynamicValue" />
        </trim>
    </insert>

    <!--通过主键修改数据-->
    <update id="updateByPrimaryKey" parameterType="com.wisely.ucenter.entity.UcenterPersonRole">
        update t_ucenter_person_role
        <set>
            person_id = #{personId},
            role_id = #{roleId},
            op_state = #{opState},
            create_by = #{createBy},
            create_time = #{createTime},
            update_by = #{updateBy},
            update_time = #{updateTime},
            is_deleted = #{isDeleted},
        </set>
        where  id = #{id}
    </update>

    <!-- 通过主键动态修改数据 -->
    <update id="updateByPrimaryKeySelective" parameterType="com.wisely.ucenter.entity.UcenterPersonRole">
        update t_ucenter_person_role
        <trim prefix="set" suffixOverrides="," >
            <include refid="DynamicSet" />
        </trim>
        where id = #{id}
    </update>


    <!-- 根据条件动态修改数据 -->
    <update id="updateBySelective" parameterType="com.wisely.ucenter.entity.UcenterPersonRole">
        update t_ucenter_person_role t
        <trim prefix="set" suffixOverrides="," >
            <include refid="DynamicSet" />
        </trim>
        <trim prefix="where" prefixOverrides="AND | OR" >
            <choose>
                <when test="personId != null">
                    and t.person_id = #{personId}
                </when>
                <!-- 为避免全表更新，至少有一个查询条件 -->
                <otherwise>
                    and id = #{id}
                </otherwise>
            </choose>
        </trim>
    </update>


    <!--通过主键删除-->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from t_ucenter_person_role
        where id = #{id}
    </delete>


    <!--通过主键删除-->
    <delete id="deleteByPersonId" parameterType="java.lang.Integer">
        delete from t_ucenter_person_role
        where person_id = #{personId}
    </delete>


    <!--通过实体作为筛选条件查询-->
    <select id="selectListBySelective" parameterType="com.wisely.ucenter.entity.UcenterPersonRole" resultMap="BaseResultMap">
        select <include refid="BaseColumn" />
        from  t_ucenter_person_role t
        <trim prefix="where " prefixOverrides="AND | OR" >
            <include refid="DynamicWhere" />
        </trim>
        <choose>
            <when test="orderBy != null and orderBy != ''">
                order by ${orderBy}
            </when>
            <otherwise>
                order by t.id desc
            </otherwise>
        </choose>
    </select>

</mapper>