<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisely.ucenter.mapper.UcenterPersonOrgMapper">

    <resultMap type="com.wisely.ucenter.entity.UcenterPersonOrg" id="BaseResultMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="rootOrgId" column="root_org_id" jdbcType="INTEGER"/>
        <result property="deptId" column="dept_id" jdbcType="INTEGER"/>
        <result property="personId" column="person_id" jdbcType="INTEGER"/>
        <result property="isMain" column="is_main" jdbcType="INTEGER"/>
        <result property="isMainPerson" column="is_main_person" jdbcType="INTEGER"/>
        <result property="posId" column="pos_id" jdbcType="INTEGER"/>
        <result property="posLevel" column="pos_level" jdbcType="VARCHAR"/>
        <result property="orderNo" column="order_no" jdbcType="INTEGER"/>
        <result property="opState" column="op_state" jdbcType="INTEGER"/>
        <result property="createBy" column="create_by" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="VARCHAR"/>
        <result property="updateBy" column="update_by" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="VARCHAR"/>
        <result property="isDeleted" column="is_deleted" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="BaseColumn">
        t.id,
        t.root_org_id,
        t.dept_id,
        t.person_id,
        t.is_main,
        t.is_main_person,
        t.pos_id,
        t.pos_level,
        t.order_no,
        t.op_state,
        t.create_by,
        t.create_time,
        t.update_by,
        t.update_time,
        t.is_deleted
    </sql>

    <!-- 动态字段 -->
    <sql id="DynamicColumn">
        <if test="rootOrgId != null">
            root_org_id,
        </if>
        <if test="deptId != null">
            dept_id,
        </if>
        <if test="personId != null">
            person_id,
        </if>
        <if test="isMain != null">
            is_main,
        </if>
        <if test="isMainPerson != null">
            is_main_person,
        </if>
        <if test="posId != null">
            pos_id,
        </if>
        <if test="posLevel != null and posLevel != ''">
            pos_level,
        </if>
        <if test="orderNo != null">
            order_no,
        </if>
        <if test="opState != null">
            op_state,
        </if>
        <if test="createBy != null">
            create_by,
        </if>
        <if test="createTime != null and createTime != ''">
            create_time,
        </if>
        <if test="updateBy != null">
            update_by,
        </if>
        <if test="updateTime != null and updateTime != ''">
            update_time,
        </if>
        <if test="isDeleted != null">
            is_deleted,
        </if>
    </sql>

    <!-- 动态值 -->
    <sql id="DynamicValue">
        <if test="rootOrgId != null">
            #{rootOrgId},
        </if>
        <if test="deptId != null">
            #{deptId},
        </if>
        <if test="personId != null">
            #{personId},
        </if>
        <if test="isMain != null">
            #{isMain},
        </if>
        <if test="isMainPerson != null">
            #{isMainPerson},
        </if>
        <if test="posId != null">
            #{posId},
        </if>
        <if test="posLevel != null and posLevel != ''">
            #{posLevel},
        </if>
        <if test="orderNo != null">
            #{orderNo},
        </if>
        <if test="opState != null">
            #{opState},
        </if>
        <if test="createBy != null">
            #{createBy},
        </if>
        <if test="createTime != null and createTime != ''">
            #{createTime},
        </if>
        <if test="updateBy != null">
            #{updateBy},
        </if>
        <if test="updateTime != null and updateTime != ''">
            #{updateTime},
        </if>
        <if test="isDeleted != null">
            #{isDeleted},
        </if>
    </sql>

    <!-- 动态赋值 -->
    <sql id="DynamicSet">
        <if test="rootOrgId != null">
            root_org_id = #{rootOrgId},
        </if>
        <if test="deptId != null">
            dept_id = #{deptId},
        </if>
        <if test="personId != null">
            person_id = #{personId},
        </if>
        <if test="isMain != null">
            is_main = #{isMain},
        </if>
        <if test="isMainPerson != null">
            is_main_person = #{isMainPerson},
        </if>
        <if test="posId != null">
            pos_id = #{posId},
        </if>
        <if test="posLevel != null">
            pos_level = #{posLevel},
        </if>
        <if test="orderNo != null">
            order_no = #{orderNo},
        </if>
        <if test="opState != null">
            op_state = #{opState},
        </if>
        <if test="createBy != null">
            create_by = #{createBy},
        </if>
        <if test="createTime != null">
            create_time = #{createTime},
        </if>
        <if test="updateBy != null">
            update_by = #{updateBy},
        </if>
        <if test="updateTime != null">
            update_time = #{updateTime},
        </if>
        <if test="isDeleted != null">
            is_deleted = #{isDeleted},
        </if>
    </sql>

    <!-- 动态条件 -->
    <sql id="DynamicWhere">
        <if test="rootOrgId != null">
            and t.root_org_id = #{rootOrgId}
        </if>
        <if test="deptId != null">
            and t.dept_id = #{deptId}
        </if>
        <if test="personId != null">
            and t.person_id = #{personId}
        </if>
        <if test="isMain != null">
            and t.is_main = #{isMain}
        </if>
        <if test="isMainPerson != null">
            and t.is_main_person = #{isMainPerson}
        </if>
        <if test="posId != null">
            and t.pos_id = #{posId}
        </if>
        <if test="posLevel != null and posLevel != ''">
            and t.pos_level = #{posLevel}
        </if>
        <if test="orderNo != null">
            and t.order_no = #{orderNo}
        </if>
        <if test="opState != null">
            and t.op_state = #{opState}
        </if>
        <if test="createBy != null">
            and t.create_by = #{createBy}
        </if>
        <if test="createTime != null and createTime != ''">
            and t.create_time = #{createTime}
        </if>
        <if test="updateBy != null">
            and t.update_by = #{updateBy}
        </if>
        <if test="updateTime != null and updateTime != ''">
            and t.update_time = #{updateTime}
        </if>
        <if test="isDeleted != null">
            and t.is_deleted = #{isDeleted}
        </if>

        <if test="personIdQueryIn != null and personIdQueryIn != ''">
            and t.person_id in
            <foreach collection="personIdQueryIn.split(',')" item="pId" open="(" close=")" separator=",">
                #{pId}
            </foreach>
        </if>
        <if test="personIdQueryNotIn != null and personIdQueryNotIn != ''">
            and t.person_id not in
            <foreach collection="personIdQueryNotIn.split(',')" item="pId" open="(" close=")" separator=",">
                #{pId}
            </foreach>
        </if>
        <if test="rootOrgIdQueryIn != null and rootOrgIdQueryIn != ''">
            and t.root_org_id in
            <foreach collection="rootOrgIdQueryIn.split(',')" item="rootOrgIdQuery" open="(" close=")" separator=",">
                #{rootOrgIdQuery}
            </foreach>
        </if>
        <if test="deptIdQueryIn != null and deptIdQueryIn != ''">
            and t.dept_id in
            <foreach collection="deptIdQueryIn.split(',')" item="deptIdQuery" open="(" close=")" separator=",">
                #{deptIdQuery}
            </foreach>
        </if>
    </sql>

    <!--查询单个-->
    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        select <include refid="BaseColumn" />
        from  t_ucenter_person_org t
        where id = #{id}
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true" parameterType="com.wisely.ucenter.entity.UcenterPersonOrg">
        insert into t_ucenter_person_org  (
            root_org_id,
            dept_id,
            person_id,
            is_main,
            is_main_person,
            pos_id,
            pos_level,
            order_no,
            op_state,
            create_by,
            create_time,
            update_by,
            update_time,
            is_deleted
        )  values  (
            #{rootOrgId},
            #{deptId},
            #{personId},
            #{isMain},
            #{isMainPerson},
            #{posId},
            #{posLevel},
            #{orderNo},
            #{opState},
            #{createBy},
            #{createTime},
            #{updateBy},
            #{updateTime},
            #{isDeleted}
        )
    </insert>

    <insert id="insertSelective" keyProperty="id" useGeneratedKeys="true" parameterType="com.wisely.ucenter.entity.UcenterPersonOrg">
        insert into  t_ucenter_person_org
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <include refid="DynamicColumn" />
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <include refid="DynamicValue" />
        </trim>
    </insert>

    <!--通过主键修改数据-->
    <update id="updateByPrimaryKey" parameterType="com.wisely.ucenter.entity.UcenterPersonOrg">
        update t_ucenter_person_org
        <set>
            root_org_id = #{rootOrgId},
            dept_id = #{deptId},
            person_id = #{personId},
            is_main = #{isMain},
            is_main_person = #{isMainPerson},
            pos_id = #{posId},
            pos_level = #{posLevel},
            order_no = #{orderNo},
            op_state = #{opState},
            create_by = #{createBy},
            create_time = #{createTime},
            update_by = #{updateBy},
            update_time = #{updateTime},
            is_deleted = #{isDeleted},
        </set>
        where  id = #{id}
    </update>

    <!-- 通过主键动态修改数据 -->
    <update id="updateByPrimaryKeySelective" parameterType="com.wisely.ucenter.entity.UcenterPersonOrg">
        update t_ucenter_person_org
        <trim prefix="set" suffixOverrides="," >
            <include refid="DynamicSet" />
        </trim>
        where id = #{id}
    </update>


    <!-- 根据条件动态修改数据 -->
    <update id="updateBySelective" parameterType="com.wisely.ucenter.entity.UcenterPersonOrg">
        update t_ucenter_person_org t
        <trim prefix="set" suffixOverrides="," >
            <include refid="DynamicSet" />
        </trim>
        <trim prefix="where" prefixOverrides="AND | OR" >
            <choose>
                <when test="personId != null">
                    and t.person_id = #{personId}
                </when>
                <when test="idQueryIn != null and idQueryIn != ''">
                    and t.id in
                    <foreach collection="idQueryIn.split(',')" open="(" close=")" separator="," index="" item="id">
                        #{id}
                    </foreach>
                </when>
                <!-- 为避免全表更新，至少有一个查询条件 -->
                <otherwise>
                    and id = #{id}
                </otherwise>
            </choose>
        </trim>
    </update>


    <!--通过主键删除-->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from  t_ucenter_person_org
        where id = #{id}
    </delete>


    <!-- 按人员ID/部门ID 删除部门人员关系 -->
    <delete id="deleteBySelective" parameterType="com.wisely.framework.entity.Model">
        delete from t_ucenter_person_org
        <trim prefix="where" prefixOverrides="AND | OR">
            <choose>
                <when test="personIdQueryIn != null and personIdQueryIn != ''">
                    and person_id in
                    <foreach collection="personIdQueryIn.split(',')" open="(" close=")" item="pId" separator=",">
                        #{pId}
                    </foreach>
                </when>
                <!-- 为避免全表更新，至少有一个查询条件 -->
                <otherwise>
                    and id = #{id}
                </otherwise>
            </choose>
        </trim>
    </delete>


    <!--通过实体作为筛选条件查询-->
    <select id="selectListBySelective" parameterType="com.wisely.ucenter.entity.UcenterPersonOrg" resultMap="BaseResultMap">
        select <include refid="BaseColumn" />
        from  t_ucenter_person_org t
        <trim prefix="where " prefixOverrides="AND | OR" >
            <include refid="DynamicWhere" />
        </trim>
        <choose>
            <when test="orderBy != null and orderBy != ''">
                order by ${orderBy}
            </when>
            <otherwise>
                order by ifnull(t.order_no, 999999), t.id desc
            </otherwise>
        </choose>
    </select>

    <select id="selectQueryListBySelective" resultType="com.wisely.ucenter.entity.UcenterPersonOrg"
            resultMap="BaseResultMap">
        select
            <include refid="BaseColumn"/>
        from t_ucenter_person_org t
            inner join t_ucenter_org as tuo on tuo.id = t.dept_id and tuo.is_deleted = 0
            inner join t_ucenter_person as tup on tup.id = t.person_id and tup.is_deleted = 0
        <trim prefix="where " prefixOverrides="AND | OR">
            <include refid="DynamicWhere"/>
            <if test="personNameQueryLike != null and personNameQueryLike != ''">
                and tup.name like concat('%',#{personNameQueryLike},'%')
            </if>
            <if test="deptNameQueryLike != null and deptNameQueryLike != ''">
                and tuo.cname like concat('%',#{deptNameQueryLike},'%')
            </if>
        </trim>
        <choose>
            <when test="orderBy != null and orderBy != ''">
                order by ${orderBy}
            </when>
            <otherwise>
                order by ifnull(t.order_no, 999999), t.id desc
            </otherwise>
        </choose>
    </select>
</mapper>

